/* COLORS */

$default-main-color:#e6e6e6;

// blue
$blue-main-color: #29B6F6;
$blue-accent-color: #1565C0;

// green
$green-main-color: #2E7D32;
$green-accent-color: #1B5E20;

// black
$black-main-color: #000000;
$black-accent-color: #757575;

// grey
$grey-main-color: #757575;
$grey-accent-color: #BDBDBD;

// white
$white-main-color: #ffffff;